{% extends 'base.html' %}


{% block title %}
Админ-панель
{% endblock %}

{% block content %}
{% if check_total == 'admin' %}
	<a href="{{ url_for('logout') }}" class="btn-danger_panel">ВЫХОД</a>
	<a href="{{ url_for('admin_menu') }}" class="btn-MENU_panel">МЕНЮ</a>
{% endif %}
<div class='box_admin'>
	<div class='admin_label'>АДМИН ПАНЕЛЬ</div><br>
	<form class='admin_form' action="{{ url_for('admin_panel') }}" method='POST' enctype="multipart/form-data">
		<img src="../static/img/default/preview.jpg" alt="Дефолтное изображение" class="preview" id='preview'>
		<div class="input_container">
			{{ form.hidden_tag() }}
			<p class="input_placeholder">{{ form.name(placeholder="Введите название товара...", class="name_plh")}}</p>
			{% for error in form.name.errors %}
				<span class="error">{{ error }}</span>
			{% endfor %}
			<br>
			<p class="input_placeholder">{{ form.description(placeholder="Введите описание товара...", class="desc_plh") }}</p>
			{% for error in form.description.errors %}
				<span class="error">{{ error }}</span>
			{% endfor %}
			<br>
			<p class="input_placeholder">{{ form.price(placeholder="Введите цену товара...", class="price_plh") }}</p>
			{% for error in form.price.errors %}
				<span class="error">{{ error }}</span>
			{% endfor %}
			<br>
			<p class="input_placeholder">{{ form.category(placeholder="Введите категорию товара...", class="caregory_plh") }}</p>
			{% for error in form.category.errors %}
				<span class="error">{{ error }}</span>
			{% endfor %}
			<br>
			<p class='photo_choice'>{{ form.photo(onchange="previewImage()", class="btn_picture") }}</p>
			<p>{{ form.submit(class ='btn_add', value="Добавить товар") }}</p>
			<br>
		</div>
	</form>
</div>
{% endblock %}