{% extends 'base.html' %}


{% block title %}
Админ-панель
{% endblock %}

{% block content %}
{% if check_total == 'admin' %}
	<a href="{{ url_for('logout') }}" class="btn-danger_panel">ВЫХОД</a>
	<a href="{{ url_for('admin_menu') }}" class="btn-MENU_panel">МЕНЮ</a>
{% endif %}
<div class='box_admin'>
	<div class='admin_label'>АДМИН ПАНЕЛЬ</div><br>
	<form class='admin_form' action="{{ url_for('admin_panel') }}" method='POST' enctype="multipart/form-data">
		{{ form.csrf_token }}
		<img src="../static/img/default/preview.jpg" alt="Дефолтное изображение" class="preview" id='preview'>
		<input type='text' name='name' id='name' placeholder="Введите название товара...">
		<input type='text' name='description' id='description' placeholder="Введите описание товара...">
		<input type='number' name='price' id='price' placeholder="Введите цену товара...">
		<input type='text' name='category' id='category' placeholder="Введите категорию товара...">
		<input type="file" name="photo" id='photo' onchange="previewImage()" class='photo_choice'>
		<input type="submit" class ='btn_add' value="Добавить товар">
	</form>
	{% for cat, msg in get_flashed_messages(True) %}
	<div class='flash {{cat}}'>{{msg}}</div>
	{% endfor %}
	<div class='instruction'>ИНСТРУКЦИЯ:<br><br>1. Название товара должно 
		насчитвывать<br>от 3-х до 15-ти символов.<br><br>2. Описание товара 
		может содержать от 3-х символов.<br><br>3. Цена товара может быть 
		как целой (1, 100, 1500,...),<br>так и дробной (750.7, 341.57,...)<br>
		<br>4.В поле ввода категории, нужно вводить цифру,<br>соответствующую 
		категории товара:<br>Цветы - 1<br>Букеты - 2<br>Корзинки - 3<br>
		Комнатные - 4<br>Искуственные - 5<br>Венки - 6<br>Игрушки - 
		7<br>Фейерверки - 8
	</div>
</div>
{% endblock %}