<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adaptive_index.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adaptive_404.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adaptive_authorization.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adaptive_menu.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adaptive_panel.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adaptive_header.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adaptive_article.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adaptive_news.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adaptive_cards.css') }}">
	<title>{% block title %}{% endblock %}</title>
</head>
	<body>
		<div class="conteiner">
			<div class='header'>
				<header>
					<div class='menu_btn'>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</header>

				<div class='menu'>
					<a href='index'>Главная</a></li>
					<a href="index#catralog_id">Каталог</a></li>
					<a href='index#information'>Информация</a></li>
					<a href="{{url_for('store_news') }}">НОВОСТИ</a></li>
				</div>

				<img src="../static/img/logo/logo.png" alt="Логотип" class='logo_motto'>

				<div class='motto'>
					ВЫБОР ЕСТЬ ВСЕГДА!
				</div>
			</div>
			{% block content %}
			{% endblock %}
		</div>
	</body>
	<script type="text/javascript" src="../static/js/script.js"></script>
</html>