{% extends 'base.html' %}


{% block title %}
Новости магазина!
{% endblock %}

{% block content %}
{% if check_total == 'admin' %}
	<a href="{{ url_for('logout') }}" class="btn-danger_news">ВЫХОД</a>
	<a href="{{ url_for('admin_menu') }}" class="btn-MENU_news">МЕНЮ</a>
{% endif %}
<ul class="row_news">
	{% for article in news %}
	<li class="col-md-4_news"> 
	        <div class="news_item">
	            <div class="news_name">{{ article.name_article }}</div>
	            <div class="news_text">{{ article.text_article }}</div>
	            <div class="news_date">ДАТА ПУБЛИКАЦИИ: {{ article.pub_date.strftime('%Y-%m-%d') }}</div>
	            <img src="{{ url_for('static', filename='img/uploads/' + article.photo_article) }}" class="news_photo">
	            {% if check_total == 'admin' %}
		            <form method="post" action="/store_news">
		            	{{ form.csrf_token }}
		            	<input class='delete_news' type="submit" value="УДАЛИТЬ">
		                <input type="hidden" name="article_id" value="{{ article.id }}">
		            </form>
	            {% endif %}
	        </div>
	</li>
	{% if loop.index % 2 == 0 %}
    </ul>
    <ul class="row_news">
    {% endif %}
    {% endfor %}
</ul>
<div class="pagination">
	<ul class="horizontal-list">
        {% for page_num in range(1, total_pages + 1) %}
            <li>
                <a href="{{ url_for('store_news', page=page_num) }}">{{ page_num }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}